<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wdu4.movie.mapper.UserMapper" >

    <select id="getUser" resultType="User" parameterType="Integer">
      SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <insert id="saveUser" parameterType="User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user VALUES (0, #{userName}, #{userPhone}, #{password});
    </insert>

    <delete id="removeUser" parameterType="Integer">
        DELETE FROM user WHERE user_id = #{user_id}
    </delete>

    <update id="updateUser" parameterType="User">
        UPDATE user
        <set>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="userPhone != null">user_phone = #{userPhone},</if>
            <if test="password != null">password = #{password}</if>
        </set>
        WHERE user_id = #{userId}
    </update>
</mapper>